.give-away {

   .wrapper {
     padding: 0;
       .give-header {
         background: url('../../assets/Form-Hero-Image.jpg') no-repeat left;
         background-size: contain;
         min-height: 100vh;
       }
   }
}
