header {
  overflow-x: hidden;

   .wrapper {
     position: relative;
     height: 953px;

     .hero-image {
       position: absolute;
       top: -10px;
       left: -20%;
       z-index: -1;
     }
   }
}
