@media screen and (min-width: 1600px) {
  
}




@media screen and (max-width: 800px) {
  .about {
    .wrapper {
      flex-direction: column-reverse;
    }
  }

  .content-wrapper {
    width: 100%;
    padding: 0px;

    .about-text {
      padding: 10px;
    }
  }

  .about-img {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .help {
    .wrapper {
      padding: 0 10px 80px 10px;
    }
  }
}
